{% extends "base.html" %}

{% block content %}

<h3>List of People</h3>
<input type="text" class="form-control" id="live_search" placeholder="Start typing to filter the list">
<hr>
<div class="list_1">
<table id="list_2" class="tablesorter table table-hover">
<thead>
<tr><th>Name</th><th>Citizenship</th><th>Profession</th><th>Date of birth</th><th>Date of death</th></tr>
</thead>
<tbody>
	{% for peop in people %}<tr class="deletable"><td class="name_column"><a href="{{ BASE_URL }}/notebook/people/show/{{peop.pk}}">{{peop.first_name}}&nbsp;{{peop.last_name}}</a></td><td>{% if peop.citizenship %}{{peop.citizenship}}{% endif %}</td><td>{% if peop.profession %}{{peop.profession}}{% endif %}</td><td>{% if peop.birth %}{{peop.birth|date:"Y-m-d"}}{% endif %}</td><td>{% if peop.death %}{{peop.death|date:"Y-m-d"}}{% endif %}</td></tr>{% endfor %}
</tbody>
</table>
</div>
<script type="text/javascript">
	
	$(document).ready(function () {
/* initially hide list items */
$("#list_2").tablesorter(); 

/* filter dinosaurs as you type */
$("#live_search").on("keyup click input", function () {
if (this.value.length > 0) {
  $("#list_2 tr.deletable").hide().filter(function () {
    return $(this).text().toLowerCase().indexOf($("#live_search").val().toLowerCase()) != -1;
  }).show();
}
else {
  $("#list_2 tr.deletable").show();
}
});

});

</script>

{% endblock %}